In [1]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

# adding Folder_2 to the system path
import sys
sys.path.insert(0, '../')
from common.utils import Utils

In [3]:

#db = SQLDatabase.from_uri("mysql+mysqlconnector://xxx:xxx@localhost:3306/sys")
db = SQLDatabase.from_uri('postgresql+psycopg2://hive:hive@wxluoweihao.xiaomy.net:36881/metastore')

In [4]:
llm = ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key())
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

## 1 Agent with No Support Vector Store

In [5]:
agent_executor_1 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""When giving the final answer, also append the final SQL and explain it."""
)

In [6]:

response = agent_executor_1.run("Give me a summary of data in the database?")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


investor_definition, investor_holding, stock_definition, stock_dividend, stock_price, stock_type_definition
Invoking: `sql_db_schema` with `investor_definition, investor_holding, stock_definition, stock_dividend, stock_price, stock_type_definition`



CREATE TABLE investor_definition (
	id VARCHAR(32) NOT NULL,
	investor_name VARCHAR(90),
	investor_country VARCHAR(90),
	gender VARCHAR(255),
	age INTEGER,
	num_years_invest INTEGER,
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from investor_definition table:
id	investor_name	investor_country	gender	age	num_years_invest	busu_unit	country
1	mike	CN	male	29	10	RMG	CN
2	jack	IN	male	22	5	T&O	IN
3	yoyo	SG	female	29	7	MOT	SG
*/


CREATE TABLE investor_holding (
	holding_date DATE NOT NULL,
	investor_id VARCHAR(255) NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	volume VARCHAR(32),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_holding_pkey PRIMARY KEY (holding_date, investor_id, stock_code)
)

/*
3 rows from investor_holding table:
holding_date	investor_id	stock_code	volume	busu_unit	country
2023-05-11	1	A	1000	RMG	CN
2023-05-12	1	AA	2000	RMG	CN
2023-05-15	1	AAA	400	RMG	CN
*/


CREATE TABLE stock_definition (
	id SERIAL NOT NULL,
	stock_name VARCHAR(255),
	stock_code VARCHAR(255),
	stock_type_code VARCHAR(255),
	currency_name VARCHAR(255),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from stock_definition table:
id	stock_name	stock_code	stock_type_code	currency_name	busu_unit	country
0	Agilent Technologies Inc.	A	CS	usd	MOT	SG
*/


CREATE TABLE stock_dividend (
	pay_date DATE NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	dividend_ratio NUMERIC(24, 6),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_dividend_pkey PRIMARY KEY (pay_date, stock_code)
)

/*
3 rows from stock_dividend table:
pay_date	stock_code	dividend_ratio	busu_unit	country

*/


CREATE TABLE stock_price (
	price_date DATE NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	close_price NUMERIC(24, 6),
	max_price NUMERIC(24, 6),
	min_price NUMERIC(24, 6),
	open_price NUMERIC(24, 6),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_price_pkey PRIMARY KEY (price_date, stock_code)
)

/*
3 rows from stock_price table:
price_date	stock_code	close_price	max_price	min_price	open_price	busu_unit	country

*/


CREATE TABLE stock_type_definition (
	id VARCHAR(32) NOT NULL,
	stock_type_code VARCHAR(32),
	stock_type_name VARCHAR(32),
	stock_locale DATE,
	busu_unit VARCHAR(32),
	country DATE,
	CONSTRAINT stock_type_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from stock_type_definition table:
id	stock_type_code	stock_type_name	stock_locale	busu_unit	country

*/The database contains the following tables:

1. **investor_definition**: This table contains information about investors, including their ID, name, country, gender, age, number of years they have been investing, business unit, and country. There are at least 3 records in this table.

2. **investor_holding**: This table contains information about the stocks held by investors, including the date of holding, investor ID, stock code, volume, business unit, and country. There are at least 3 records in this table.

3. **stock_definition**: This table contains information about stocks, including their ID, name, code, type code, currency name, business unit, and country. There is at least 1 record in this table.

4. **stock_dividend**: This table contains information about stock dividends, including the pay date, stock code, dividend ratio, business unit, and country. There are no sample records provided for this table.

5. **stock_price**: This table contains information about stock prices, including the price date, stock code, close price, max price, min price, open price, business unit, and country. There are no sample records provided for this table.

6. **stock_type_definition**: This table contains information about stock types, including their ID, type code, type name, locale, business unit, and country. There are no sample records provided for this table.

> Finished chain.

In [7]:
print(response)

The database contains the following tables:

1. **investor_definition**: This table contains information about investors, including their ID, name, country, gender, age, number of years they have been investing, business unit, and country. There are at least 3 records in this table.

2. **investor_holding**: This table contains information about the stocks held by investors, including the date of holding, investor ID, stock code, volume, business unit, and country. There are at least 3 records in this table.

3. **stock_definition**: This table contains information about stocks, including their ID, name, code, type code, currency name, business unit, and country. There is at least 1 record in this table.

4. **stock_dividend**: This table contains information about stock dividends, including the pay date, stock code, dividend ratio, business unit, and country. There are no sample records provided for this table.

5. **stock_price**: This table contains information about stock prices, including the price date, stock code, close price, max price, min price, open price, business unit, and country. There are no sample records provided for this table.

6. **stock_type_definition**: This table contains information about stock types, including their ID, type code, type name, locale, business unit, and country. There are no sample records provided for this table.

## 2 Agent With Vector Store Search For Similar Question and SQL Pair

### 2.1 Create Vector Store of Quest SQl Pairs

In [27]:
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

embeddings =  OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

few_shotd = few_shots = {'Find all employees whose departments are in America': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"
                        }
few_shot_docs = [
    Document(page_content=question, metadata={"sql_query": few_shots[question]})
    for question in few_shots.keys()
]

#vector_db = FAISS.from_documents(few_shot_docs, embeddings)
#vector_db.save_local("similar_example_store_index")
vector_db = FAISS.load_local("similar_example_store_index", embeddings)
retriever = vector_db.as_retriever()

from langchain.agents.agent_toolkits import create_retriever_tool

tool_description = """
This tool will help you understand similar examples to adapt them to the user question.
Input to this tool should be the user question.
"""

retriever_tool_example = create_retriever_tool(
    retriever, name="sql_get_similar_examples", description=tool_description
)

In [31]:
custom_tool_list = [retriever_tool_example]

custom_suffix_example = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL and explain it.
"""

agent_2 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix_example,
)

`agent_scratchpad` should be a variable in prompt.input_variables. Did not find it, so adding it at the end.

In [ ]:
response = agent_2.run("How many employees are there, whose departments are in america")

In [30]:
print(response)

There are 69 employees whose departments are located in America.

The SQL query used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America (represented by the country_id 'US'). The count of these employees is then returned.

## 3. Agent with Vector Store Checking Filtering Condition

In [5]:
import ast
import re


def run_query_save_results(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return res


country_name = run_query_save_results(db, "SELECT country_name From countries")
country_id = run_query_save_results(db, "SELECT country_id From countries")
department_name = run_query_save_results(db, "SELECT  department_name FROM departments")

In [14]:
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS


texts = country_name + country_id + department_name

embeddings = OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

#embedding
#vector_db_1 = FAISS.from_texts(texts, embeddings)
#vector_db_1.save_local("name_search_store_index")
vector_db_1 = FAISS.load_local("name_search_store_index", embeddings)

#construct custom tool
retriever_1 = vector_db_1.as_retriever()
retriever_tool_name = create_retriever_tool(
    retriever_1,
    name="name_search",
    description="use to learn how a piece of data is actually written, can be from names, surnames addresses etc",
)
custom_tool_list = [retriever_tool_name]

In [17]:
from langchain.agents import create_sql_agent, AgentType
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.utilities import SQLDatabase
from langchain.chat_models import ChatOpenAI

# db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = ChatOpenAI(model_name="gpt-4", temperature=0, openai_api_key = Utils.get_openai_key())

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

custom_suffix = """
If a query statement asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL.
"""

agent_3 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [18]:
print(agent_3.run("How many employees's departments are in British"))

> Entering new AgentExecutor chain...

Invoking: `name_search` with `British`


[Document(page_content='UK'), Document(page_content='US'), Document(page_content='United Kingdom'), Document(page_content='Australia')]
Invoking: `sql_db_list_tables` with ``
responded: The term "British" could refer to the United Kingdom. Let's proceed with this assumption and check the tables in the database.

countries, departments, employees, locations, t_stock
Invoking: `sql_db_schema` with `employees, departments, locations`
responded: The relevant tables for this query seem to be "employees", "departments", and "locations". Let's check the schema of these tables to understand their structure and relationships.


CREATE TABLE departments (
	department_id INTEGER NOT NULL,
	department_name VARCHAR(30) NOT NULL,
	manager_id INTEGER,
	location_id INTEGER,
	CONSTRAINT dept_id_pk PRIMARY KEY (department_id)
)

/*
3 rows from departments table:
department_id	department_name	manager_id	location_id
10	Administration	200	1700
20	Marketing	201	1800
30	Purchasing	114	1700
*/


CREATE TABLE employees (
	employee_id INTEGER NOT NULL,
	first_name VARCHAR(20),
	last_name VARCHAR(25) NOT NULL,
	email VARCHAR(25) NOT NULL,
	phone_number VARCHAR(20),
	hire_date DATE NOT NULL,
	job_id VARCHAR(10) NOT NULL,
	salary NUMERIC(8, 2),
	commission_pct NUMERIC(2, 2),
	manager_id INTEGER,
	department_id INTEGER,
	CONSTRAINT emp_emp_id_pk PRIMARY KEY (employee_id)
)

/*
3 rows from employees table:
employee_id	first_name	last_name	email	phone_number	hire_date	job_id	salary	commission_pct	manager_id	department_id
209	Naveen	Chinthala	NCHINTHALA	515.123.4567	2016-08-21	AD_VP	185000.00	None	100	90
100	Steven	King	SKING	515.123.4567	2003-06-17	AD_PRES	24000.00	None	None	90
101	Neena	Kochhar	NKOCHHAR	515.123.4568	2005-09-21	AD_VP	17000.00	None	100	90
*/


CREATE TABLE locations (
	location_id INTEGER NOT NULL,
	street_address VARCHAR(40),
	postal_code VARCHAR(12),
	city VARCHAR(30) NOT NULL,
	state_province VARCHAR(25),
	country_id CHAR(2),
	CONSTRAINT loc_id_pk PRIMARY KEY (location_id)
)

/*
3 rows from locations table:
location_id	street_address	postal_code	city	state_province	country_id
1000	1297 Via Cola di Rie	00989	Roma	None	IT
1100	93091 Calle della Testa	10934	Venice	None	IT
1200	2017 Shinjuku-ku	1689	Tokyo	Tokyo Prefecture	JP
*/
Invoking: `sql_db_schema` with `countries`
responded: The "employees" table has a "department_id" column, the "departments" table has a "location_id" column, and the "locations" table has a "country_id" column. However, we don't know what the "country_id" represents. We need to check the "countries" table to see if it contains a country name that matches "United Kingdom". Let's check the schema of the "countries" table.


CREATE TABLE countries (
	country_id CHAR(2) NOT NULL,
	country_name VARCHAR(40),
	region_id INTEGER,
	CONSTRAINT country_c_id_pk PRIMARY KEY (country_id)
)

/*
3 rows from countries table:
country_id	country_name	region_id
AR	Argentina	2
AU	Australia	3
BE	Belgium	1
*/
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`
responded: The "countries" table contains a "country_name" column, which likely contains the name "United Kingdom". We can now construct a SQL query to count the number of employees whose departments are in the United Kingdom. The query will join the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filter for rows where the "country_name" is "United Kingdom". Let's construct and check this query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`


[(35,)]There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

> Finished chain.
There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

## 4. Agent with Vector Stores Support Similar Query Search and Filtering Condition Checking

In [7]:

custom_suffix = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

If a user asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL in natural languages.
"""

custom_tool_list = [retriever_tool_name, retriever_tool_example]

agent_compose = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [51]:
agent_compose.run("How many employees's departments are in America")

> Entering new AgentExecutor chain...

Invoking: `sql_get_similar_examples` with `How many employees's departments are in America`


[Document(page_content='Find all employees whose departments are in America', metadata={'sql_query': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"})]
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`
responded: The similar example provided gives me a good starting point to construct the SQL query. The query is counting the number of employees whose departments are located in America. The 'US' country_id is used to represent America in the database. Let's construct the query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`


[(69,)]There are 69 employees whose departments are located in America.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America, represented by the country_id 'US' in the locations table. The count of these employees is then returned.

> Finished chain.

"There are 69 employees whose departments are located in America.\n\nThe SQL query used to find this is: \n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');\n```\nThis query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America, represented by the country_id 'US' in the locations table. The count of these employees is then returned."

In [10]:
response = "There are 35 employees whose departments are in the United Kingdom.\n\nThe SQL query I used to get this answer is:\n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (\n    SELECT location_id \n    FROM locations \n    WHERE country_id = 'UK'\n);\n```\nThis query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees."
print(response)

There are 35 employees whose departments are in the United Kingdom.

The SQL query I used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (
    SELECT location_id
    FROM locations
    WHERE country_id = 'UK'
);
```
This query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees.